[[source]]

verify_ssl = false
url = "http://mirrors.aliyun.com/pypi/simple/"
name = "ali"


[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

uritemplate = "*"
pyyaml = "*"
requests = "*"
six = "*"
requests-toolbelt = "*"


[dev-packages]

jupyter = "*"
tox = "*"
pytest = "*"
